/*-------------- calc -----------------*/
.calc{
	background: #fff;
	border-radius: 10px;
	padding: 48px 65px;

	&__item{display: none;}
	&__item.active{display: block;}

	&__wrap{
		display: flex;
		justify-content: space-between;
	}

	&__content{width: calc(100% - 437px);}

	&__head{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		.calc-tag{margin-top: 8px;}
	}

	&__head-info{
		display: inline-flex;
		margin-right: 20px;
	}

	&__head &__title{
		max-width: 350px;
		margin: 0 20px 0 0;
	}

	&__title-wrap{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	&__title{
		@include font(normal, bold, 2.6rem, 1.2, $color-text);
		margin-bottom: 20px;
	}

	&__title-wrap &__title{
		margin-bottom: 0;
		margin-right: 20px;
	}

	&__step{
		@include font(normal, normal, 2rem, 1.5, $color-text);
		white-space: nowrap;
		padding-top: 3px;
	}

	&__sect:not(:last-child){margin-bottom: 80px;}

	&__docs{
		margin-top: 12px;
		padding-top: 84px;
		border-top: 1px solid #e6e8eb;

		.h2, h2{margin-bottom: 18px;}
	}

	&__docs.inactive,
	&__wrap.inactive{
		display: none;
	}
}

.calc-range{
	border: 1px solid #e6e8eb;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 33px;

	&__label{
		@include font(normal, normal, 2rem, 1.2, $color-text);
		margin-bottom: 26px;
	}

	&__field{
		display: inline-flex;
		align-items: flex-end;
		margin-bottom: 20px;
		@include font(normal, bold, 2rem, 1.2, $color-text);
	}

	&__val{
		white-space: nowrap;
		br{display: none;}
	}

	&__icon{
		margin-left: 7px;
		padding-bottom: 3px;

		.icon{
			display: block;
			fill: #6ac074;
		}
	}

	.slider.slider-horizontal{
		width: 100%;
		margin-bottom: 45px!important;
	}

	.slider.slider-horizontal .slider-track{
		height: 8px;
		border-radius: 4px;
		margin-top: -4px;
		background: #dbe1ea;
		box-shadow: none;
	}
	
	.slider-selection{
		background: $color-green;
		box-shadow: none;
	}

	.slider-handle{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0px 0px 10px #C2C9D7;

		&::after{
			content: '';
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $color-green;
			position: absolute;
			@include top-center;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	.slider.slider-horizontal .slider-handle, .slider.slider-horizontal .slider-tick{margin-left: -12px;}
	.slider.slider-horizontal .slider-tick{display: none;}
	.slider.slider-horizontal .slider-tick-label-container{margin-top: 40px;}

	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{
		@include font(normal, normal, 1.4rem, 1, #909090);
	}

	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child,
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child{
		width: auto!important;
		margin-left: 0!important;
	}

	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child{
		left: auto!important;
		right: 0;
	}
}

.calc-select{
	position: relative;

	&__field{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 6rem;
		border: 1px solid #e6e8ec;
		border-radius: 5px;
		background: #f9fbff;
		padding: 5px 30px;
		cursor: pointer;
		transition: border 0.2s ease 0s;
	}

	&__label{
		@include font(normal, normal, 1.6rem, 1.2, #6a6a6a);
	}

	&__val{
		display: none;
		@include font(normal, normal, 1.6rem, 1.2, $color-text);
		margin-top: 2px;
	}

	&__arr{
		flex: 0 0 14px;

		.icon{
			display: block;
			fill: $color-text;
			transition: transform 0.2s ease 0s;
		}
	}

	&__popup{
		display: none;
		width: 100%;
		background: #fff;
		border-radius: 10px;
		padding: 37px 30px;
		box-shadow: 0px 0px 20px rgba(199, 213, 234, 0.7);
		position: absolute;
		top: calc(100% + 11px);
		left: 0;
		z-index: 10;

		.input-radio{
			display: inline-block;
			vertical-align: top;
		}
	}

	&__item:not(:last-child){margin-bottom: 16px;}

	&.active &__label{font-size: 1.4rem;}
	&.active &__val{display: block;}

	&.open &__field,
	&__field:hover{
		border-color: $color-text;
	}

	&.open &__arr .icon{transform: rotate(180deg);}
}

.calc-tag{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	height: 2rem;
	border-radius: 1rem;
	background: $color-dark-green;
	padding: 0 6px;
	@include font(normal, normal, 1.4rem, 2rem, #fff);
}

.calc-form{
	margin-bottom: -20px;

	&__content{
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.2, #6a6a6a);
		margin-bottom: 30px;
	}

	&__field{
		width: calc(100% - 20px);
		margin: 0 10px 20px;
	}

	&__field-content{position: relative;}
	&__field_half{width: calc(50% - 20px);}
	&__field_quarter{width: calc(25% - 20px);}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-block;
		height: 6rem;
		width: 100%;
		font-family: $font-site;
		@include font(normal, normal, 1.6rem, 3rem, $color-text);
		padding: 20px 30px 0;
		border-radius: 5px;
		border: 1px solid #e6e8ec;
		outline: 0;
		margin: 0;
		outline: 0;
		background: #f9fbff;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 8rem;
		line-height: 1.6;
		padding-bottom: 1.5rem;
	}

	input[type="password"]{color: $color-dark-green;}

	&__label{
		height: 100%;
		width: 100%;
		padding: 0 30px;
		@include font(normal, normal, 1.6rem, 5.8rem, #6a6a6a);
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.2s ease 0s;
		cursor: text;
	}

	input[type="text"]:focus + &__label,
	input[type="number"]:focus + &__label,
	input[type="email"]:focus + &__label,
	input[type="password"]:focus + &__label,
	textarea:focus + &__label,
	input[type="text"]:not(:placeholder-shown) + &__label,
	input[type="number"]:not(:placeholder-shown) + &__label,
	input[type="email"]:not(:placeholder-shown) + &__label,
	input[type="password"]:not(:placeholder-shown) + &__label,
	textarea:not(:placeholder-shown) + &__label{
		height: 2rem;
		font-size: 1.4rem;
		line-height: 2rem;
		top: 10px;
	}

	&__field_indent{
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			padding-right: 100px;
		}
	}

	.calc-tag{
		position: absolute;
		@include top-center;
		right: 15px;
	}

	&__field.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			background: #fff2f3;
		}
	}

	&__field.success{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			padding-right: 60px;
			background-image: url(../img/tick.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 30px) 50%;
		}
	}
}

.calc-form-msg-error{
	@include font(normal, normal, 1.4rem, 1.2, $color-red);
	margin-top: 13px;
	margin-bottom: -3px;
}

.calc-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	border-top: 1px solid #e6e8ec;
	padding-top: 34px;
	padding-bottom: 34px;

	.input-check{
		&__text{
			color: #6a6a6a;
			letter-spacing: 0.2px;
		}
	}

	.input-check:not(:last-child){margin-bottom: 18px;}

	&__cond{margin-right: 30px;}
	&__cond.inactive{display: none;}
}

.calc-total{
	width: 340px;

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 32px;
		border-bottom: 1px solid #e6e8eC;
		margin-bottom: 46px;
	}

	&__label{
		@include font(normal, normal, 2rem, 1.2, $color-text);
		margin-right: 15px;
	}

	&__price{
		@include font(normal, bold, 2.4rem, 1.2, $color-text);
	}

	&__currency{
		font-size: 2rem;
		font-weight: normal;
	}
}

.calc-progress{
	&__label{
		@include font(normal, normal, 2rem, 1.2, $color-text);
		margin-bottom: 17px;
	}

	&__val{
		@include font(normal, bold, 2.4rem, 1.2, $color-text);
		margin-bottom: 17px;
	}

	&__note{
		@include font(normal, normal, 1.4rem, 1.2, #909090);
	}

	&__bottom{margin-top: 15px;}
}

.calc-progress-line{
	height: 8px;
	background: #dbe1ea;
	border-radius: 4px;
	position: relative;
	overflow: hidden;

	&__probably,
	&__cur{
		display: block;
		height: 100%;
		width: 0;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 0;
		transition: width 0.2s ease 0s;
	}

	&__probably{background: #8be3aa;}
	&__cur{background: $color-dark-green;}
}

.calc-choose{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 6rem;
		border: 1px solid #e6e8ec;
		border-radius: 5px;
		background: #f9fbff;
		padding: 5px 30px;
		margin-bottom: 18px;
	}

	&__label{
		@include font(normal, normal, 1.6rem, 1.2, #6a6a6a);
	}

	&__val{
		display: none;
		@include font(normal, normal, 1.6rem, 1.2, $color-text);
		margin-top: 2px;
	}

	&__arr{
		flex: 0 0 14px;

		.icon{
			display: block;
			fill: $color-text;
			transition: transform 0.2s ease 0s;
		}
	}

	&__content{
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__other{
		display: none;
		position: relative;

		textarea{
			display: inline-block;
			height: 8rem;
			width: 100%;
			font-family: $font-site;
			@include font(normal, normal, 1.6rem, 1.6rem, $color-text);
			padding: 25px 30px 10px;
			border-radius: 5px;
			border: 1px solid #e6e8ec;
			outline: 0;
			margin: 0;
			outline: 0;
			background: #f9fbff;
			box-shadow: none;
			transition: border 0.2s ease 0s;
		}
	}

	&__other.active{display: block;}

	textarea:focus + &__other-label,
	textarea:not(:placeholder-shown) + &__other-label{
		height: 2rem;
		font-size: 1.4rem;
		line-height: 2rem;
		top: 5px;
	}

	&__other-label{
		height: 100%;
		width: 100%;
		padding: 0 30px;
		@include font(normal, normal, 1.6rem, 4.8rem, #6a6a6a);
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.2s ease 0s;
		cursor: text;
	}

	&.active &__label{font-size: 1.4rem;}
	&.active &__val{display: block;}
}

.calc-choose-item{
	width: calc(50% - 20px);
	margin: 0 10px 20px;

	&__label{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 6rem;
		border: 1px solid #e6e8ec;
		border-radius: 5px;
		background: #f9fbff;
		padding: 5px 30px;
		margin: 0;
		position: relative;
		cursor: pointer;
	}

	input[type=radio]{display: none;}

	&__content{margin-right: 20px;}

	&__title{
		@include font(normal, normal, 1.6rem, 1.2, $color-text);
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.2, #6a6a6a);
		margin-top: 3px;
	}

	&__mark{
		display: inline-block;
		flex: 0 0 20px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #d5dbeb;
		position: relative;
	}

	&__mark::after{
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	&__label:hover &__title{color: $color-dark-green;}
	input[type=radio]:checked + &__label &__mark{background: $color-dark-green;}
}

.calc-sms{
	.calc-form{
		&__text{color: $color-text;}
	}
}

.calc-success{
	display: none;
	background: #f9fbff;
	border: 1px solid #e6e8eb;
	border-radius: 5px;
	padding: 60px;
	text-align: center;

	&.active{display: block;}

	&__title{
		@include font(normal, bold, 2.6rem, 1.2, $color-text);
	}

	&__text{
		@include font(normal, normal, 2rem, 1.5, $color-text);
		margin-top: 30px;
	}

	&__note{
		max-width: 800px;
		@include font(normal, 300, 1.6rem, 1.75, $color-text);
		margin: 20px auto 0;
	}

	.btn{margin-top: 30px;}
}

.calc-back{
	display: none;
	cursor: pointer;

	&.active{
		display: inline-flex;
		align-items: center;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 30px;
		width: 30px;
		height: 30px;
		border: 2px solid $color-dark-green;
		margin-right: 10px;
		border-radius: 50%;
		transition: background 0.2s ease 0s;

		.icon{
			fill: $color-dark-green;
			transition: fill 0.2s ease 0s;
		}
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.2, #6a6a6a);
	}

	&:hover &__icon{background: $color-dark-green;}
	&:hover &__icon .icon{fill: #fff;}
}

@media (max-width: 1239px) {
	.calc-total{width: 300px;}

	.calc{
		padding: 35px 30px;

		&__content{width: calc(100% - 330px);}
	}
}

@media (max-width: 991px) {
	.calc{
		padding: 0;
		background: transparent;

		&__wrap{flex-direction: column-reverse;}

		&__content,
		&__docs{
			width: 100%;
			padding: 30px;
			background: #fff;
		}

		&__docs{margin-top: 0;}
	}

	.calc-total{
		width: 100%;
		margin-bottom: 50px;
	}
}

@media (max-width: 767px) {
	.calc-progress{
		&__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__label{font-size: 1.6rem;}
		&__val{font-size: 1.8rem;}

		&__bottom{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 12px;
		}
	}

	.calc-progress-sum{
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__label{
			@include font(normal, normal, 1.4rem, 1.2, $color-text);
			margin-right: 10px;
		}
	
		&__price{
			@include font(normal, bold, 1.8rem, 1.2, $color-text);
		}
	
		&__currency{
			font-size: 1.4rem;
			font-weight: normal;
		}
	}

	.calc{
		&__content,
		&__docs{
			width: auto;
			margin-left: -20px;
			margin-right: -20px;
			padding: 43px 20px;
		}

		&__step{display: none;}

		&__head &__title{
			font-size: 2rem;
			margin-right: 0;
		}

		&__title{font-size: 2rem;}
		&__sect:not(:last-child){margin-bottom: 50px;}

		&__docs{
			.docs-list{margin-bottom: 0;}

			.doc{
				display: flex;
				align-items: center;
				justify-content: space-between;

				&__icon{display: none;}

				&__down{
					flex: 0 0 30px;
					width: 30px;
					height: 30px;

					.icon{
						max-height: 11px;
						max-width: 11px;
					}
				}
			}
		}
	}

	.calc-range{
		padding: 27px 16px;
		margin-bottom: 20px;

		&__top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		&__label{
			font-size: 1.6rem;
			margin-bottom: 0;
			margin-right: 30px;
		}

		&__field{
			font-size: 1.8rem;
			margin-bottom: 0;
		}

		&__currency{font-size: 1.6rem;}
		&__icon{display: none;}

		.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{display: none;}
		.slider.slider-horizontal{margin-bottom: 25px !important;}
		.slider.slider-horizontal .slider-tick-label-container{margin-top: 33px;}

		.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child,
		.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child{
			display: block;
		}
	}

	.calc-total{margin-bottom: 35px;}

	.calc-select{
		&__label{font-size: 1.4rem;}
		&.active &__label{font-size: 1.2rem;}

		&__val{
			font-size: 1.4rem;
			margin-top: 0;
		}

		&__field{
			min-height: 4.5rem;
			padding: 5px 16px;
		}
	}

	.calc-form{
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			height: 4.5rem;
			font-size: 1.4rem;
			padding: 15px 16px 0;
		}

		input[type="text"]:focus + &__label,
		input[type="number"]:focus + &__label,
		input[type="email"]:focus + &__label,
		input[type="password"]:focus + &__label,
		textarea:focus + &__label,
		input[type="text"]:not(:placeholder-shown) + &__label,
		input[type="number"]:not(:placeholder-shown) + &__label,
		input[type="email"]:not(:placeholder-shown) + &__label,
		input[type="password"]:not(:placeholder-shown) + &__label,
		textarea:not(:placeholder-shown) + &__label{
			height: 1.5rem;
			font-size: 1.2rem;
			line-height: 1.5rem;
			top: 7px
		}

		&__label{
			font-size: 1.4rem;
			line-height: 4.3rem;
			padding: 0 16px;
		}

		&__field_half,
		&__field_quarter{
			width: calc(100% - 20px);
		}

		&__text{font-size: 1.4rem;}
	}

	.calc-form-msg-error{
		font-size: 1.2rem;
		margin-top: 10px;
	}

	.calc-tag{font-size: 1.2rem;}

	.calc-bottom{
		flex-wrap: wrap;
		padding-top: 0;
		padding-bottom: 0;
		border-top: 0;
		margin-top: 40px;

		&__cond{
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	.calc-choose{
		&__top{
			min-height: 4.5rem;
			padding: 5px 16px;
		}

		&__label,
		&__val{
			font-size: 1.4rem;
		}

		&.active &__label{font-size: 1.2rem;}
		&__val{margin-top: 0;}
		
		&__other-label{
			font-size: 1.4rem;
			padding: 0 16px;
		}

		&__other{
			textarea{
				font-size: 1.4rem;
				padding: 25px 16px 10px;
			}
		}

		textarea:focus + &__other-label,
		textarea:not(:placeholder-shown) + &__other-label{
			height: 1.6rem;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	.calc-choose-item{
		width: calc(100% - 20px);
		&__label{padding: 5px 16px;}
		&__title{font-size: 1.4rem;}
		&__text{font-size: 1.2rem;}
	}

	.calc-success{
		padding: 30px 20px;

		&__title{font-size: 2rem;}

		&__text{
			font-size: 1.6rem;
			margin-top: 20px;
		}

		&__note{
			font-size: 1.4rem;
			line-height: 1.5;
		}
	}
}