/*-------------- faq -----------------*/
.faq-wrap{
	margin: 90px 0 82px;
}

.faq-page{
	&__img{margin-bottom: 80px;}

	&__more{
		text-align: center;
		margin-top: 60px;
	}
}

@media (max-width: 991px) {
	.faq-wrap{margin: 60px 0 50px;}

	.faq-page{
		&__img{margin-bottom: 40px;}
		&__more{margin-top: 30px;}
	}
}

@media (max-width: 767px) {
	.faq-wrap{margin: 40px 0 36px;}

	.faq-page{
		&__img{margin: 0 -15px 30px;}
	}
}