/*-------------- page -----------------*/
.page-top{
	margin-bottom: 55px;

	h1, .h1{margin-bottom: 0;}

	&__content{
		display: flex;
		justify-content: space-between;
	}

	.filter{
		margin-top: 15px;
		margin-left: 30px;
	}
}

.page-content{
	background: #fff;
	padding: 50px 60px;
	border-radius: 10px;

	&__img{margin-bottom: 40px;}

	&__img + .contacts{margin-top: 63px;}
}

@media (max-width: 991px) {
	.page-top{
		margin-top: 20px;
		margin-bottom: 35px;

		&__content{display: block;}
		.filter{margin-left: 0;}
	}

	.page-content{padding: 25px 30px;}
}

@media (max-width: 767px) {
	.page-content{
		padding: 20px 15px;

		&__img{margin: 0 -15px 30px;}
		&__img + .contacts{margin-top: 30px;}
	}
}