/*-------------- text-block -----------------*/
.text-block{
	margin: 105px 0;
}

@media (max-width: 991px) {
	.text-block{margin: 60px 0;}
}

@media (max-width: 767px) {
	.text-block{margin: 45px 0;}
}