extends ../layout/main

block variables
	- var title = 'О компании';
	- var h1 = 'О компании';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'О компании'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.about-wrap
		.container
			.row
				.col-12
					.page-content
						.page-content__img
							img(src="assets/img/about.jpg", alt="")

						h2 Работаем для вас!
						p Федеральная сеть быстрых займов «Ростфинанс» работает на рынке микрозаймов Российской Федерации уже в 72 регионах страны. Наша сеть постоянно разрастается, и, возможно уже завтра ваш город присоединится к 914 успешно работающим офисам обслуживания. 

						h2 выдача денег в долг до зарплаты Н2
						p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

						h3 Лояльные требования Н3
						p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

						h3 Выгодный займ – лучшее решение всех финансовых вопросов  Н3
						p Главная цель обращения клиента в компанию – быстро получить необходимую сумму под низкий процент. Предпосылки возникновения потребности в деньгах различны:

						ul
							li поехать в путешествие заграницу;
							li пройти курс лечения в санатории;
							li поехать в путешествие заграницу;
							li открыть небольшой бизнес;
							li сделать ремонт.

						.team-slider
							.team-slider__top
								.h2 Наша команда
								.team-slider__arr.js-team-slider-arr

							.team-slider__list.js-team-slider-list
								-
									var list=[
										{img:'team1.jpg', name:'Антонина Васильева', post:'Менеджер по работе с клиентами'},
										{img:'team2.jpg', name:'Владислав Стаханов', post:'Менеджер по работе с клиентами'},
										{img:'team3.jpg', name:'Павел Волюченко', post:'Менеджер по работе с клиентами'},
										{img:'team4.jpg', name:'Денис Куратов', post:'Руководитель отдела финансирования'},
										{img:'team2.jpg', name:'Владислав Стаханов', post:'Менеджер по работе с клиентами'},
										{img:'team3.jpg', name:'Павел Волюченко', post:'Менеджер по работе с клиентами'},
										{img:'team1.jpg', name:'Антонина Васильева', post:'Менеджер по работе с клиентами'},
										{img:'team4.jpg', name:'Денис Куратов', post:'Руководитель отдела финансирования'},
									]

								each item in list
									.team-slider__item
										.team-slider__img(style="background-image: url(assets/img/"+item.img+")")
										.team-slider__name= item.name
										.team-slider__post= item.post


	include ../components/mark