extends ../layout/main

block variables
	- var title = 'Документы';
	- var h1 = 'Документы';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Документы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.doc-info-wrap
		.container
			.row
				.col-12
					.page-content
						.page-content__img
							img(src="assets/img/docs.jpg", alt="")

						.doc-info
							.docs-list
								-
									var list=[
										{text:'Свидетельство о регистрации юридического лица', size:'863.53 KB'},
										{text:' Свидетельство о постановке на учёт в налоговом органе', size:'863.53 KB'},
										{text:'Оферта о заключении арбитражного соглашения для займов без обеспечения', size:'863.53 KB'},
									]

								each item in list
									.doc
										.doc__content
											.doc__icon
												+svg('ic-pdf','ic-pdf', '27', '26')

											.doc__info
												span.doc__text= item.text
												span.doc__size= item.size

										a(href="#").btn.btn_border.btn_dot
											span Скачать

							.doc-info__desc
								p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

								h2 выдача денег в долг до зарплаты Н2
								p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

								h3 Лояльные требования Н3
								p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

								h3 Выгодный займ – лучшее решение всех финансовых вопросов  Н3
								p Главная цель обращения клиента в компанию – быстро получить необходимую сумму под низкий процент. Предпосылки возникновения потребности в деньгах различны:

								ul
									li поехать в путешествие заграницу;
									li пройти курс лечения в санатории;
									li поехать в путешествие заграницу;
									li открыть небольшой бизнес;
									li сделать ремонт.


	include ../components/mark