extends ../layout/main

block variables
	- var title = 'Продукты';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Продукты и тарифы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.page-top
		.container
			.row
				.col-12
					.page-top__content
						h1 Продукты

						.filter
							-
								var list=[
									{text:'Все продукты и тарифы', status:'active'},
									{text:'Продукты'},
									{text:'Тарифы'},
								]
							each item in list
								a(href="#", class=item.status?'active':'').filter__item= item.text

	section.product-page
		.product-list
			.container
				.row
					-
						var list=[
							{img:'product1.jpg', title:'Для новых клиентов', text:'Берите небольшую сумму на короткий срок'},
							{img:'product2.jpg', title:'Для действующих', text:'Берите займы постоянно и получайте лучшие условия'},
							{img:'product3.jpg', title:'Заём под ПТС', text:'Берите до 500 000 рублей под залог авто: ПТС и машина остаются у вас'},
							{img:'product1.jpg', title:'Для новых клиентов', text:'Берите небольшую сумму на короткий срок'},
							{img:'product2.jpg', title:'Для действующих', text:'Берите займы постоянно и получайте лучшие условия'},
							{img:'product3.jpg', title:'Заём под ПТС', text:'Берите до 500 000 рублей под залог авто: ПТС и машина остаются у вас'},
						]

					each item in list
						.col-sm-6.col-lg-4
							.product-item
								a(href="#").product-item__img-wrap
									.product-item__img(style="background-image: url(assets/img/"+item.img+")")
								
								.product-item__content
									.product-item__main
										.product-item__title
											a(href="#")= item.title
										.product-item__text= item.text

									.product-item__more
										a(href="#").product-item__more-link Подробнее

				.row
					.col-12
						.product-list__more
							a(href="#").btn.btn_border
								span Показать больше
								+svg('ic-arrow-down','ic-arrow-down', '14', '8')
							

	include ../components/mark