extends ../layout/main

block variables
	- var title = 'Типографика';
	- var h1 = 'Типографика';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Типографика'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.container
		.row
			.col-12
				p
					a(href='#') Это стандартная ссылка

				p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

				p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

				br
				br
				div.h2 Доп. классы для текста
				div(style="margin-bottom: 5px") <span class="code">text-left</span> Выравнивание текста по левому краю
				div(style="margin-bottom: 5px") <span class="code">text-center</span> Выравнивание текста по центру
				div(style="margin-bottom: 5px") <span class="code">text-right</span> Выравнивание текста по правому краю
				div(style="margin-bottom: 5px") <span class="code">text-justify</span> Выравнивание текста по ширине
				div(style="margin-bottom: 5px") <span class="code">text-uppercase</span> Все символы текста становятся прописными (верхний регистр)
				div(style="margin-bottom: 5px") <span class="code">text-bold</span> Жирный текст

				br
				br
				div.h2 Заголовки
				h1 Заголовок - h1
				h2 Заголовок - h2
				h3 Заголовок - h3
				h4 Заголовок - h4
				h5 Заголовок - h5
				h6 Заголовок - h6

				br
				p.h1 Это класс с названием h1
				p.h2 Это класс с названием h2
				p.h3 Это класс с названием h3
				p.h4 Это класс с названием h4
				p.h5 Это класс с названием h5
				p.h6 Это класс с названием h6

				br
				br
				div.h2 Списки
				ul
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список
				br
				br
				ol
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список

				br
				br
				br
				div.h2 Кнопки
				a.btn(href='#') Кнопка
				br
				br
				a(href="#").btn
					span Кнопка
					+svg('ic-arrow-down','ic-arrow-down', '14', '8')
				br
				br
				a.btn.btn_border(href='#') Кнопка
				br
				br
				a(href="#").btn.btn_border.btn_dot
					span Кнопка
				br
				br
				a(href="#").btn.btn_border
					span Кнопка
					+svg('ic-arrow-down','ic-arrow-down', '14', '8')

				br
				br
				br
				.h2 Раскрывающийся блок
				.unwrap-block.js-unwrap-block
					.unwrap-block__head.js-unwrap-head
						.unwrap-block__title Вы можете получить кредит, если
						.unwrap-block__btn.js-unwrap-block-btn
							+svg('ic-plus','ic-plus', '18', '18')
							+svg('ic-minus','ic-minus', '18', '2')

					.unwrap-block__content.js-unwrap-content
						.unwrap-block__subtitle Ответ:
						p Единственно верное решение материальных проблем – восполнить нехватку денежных средств. Проблемы бывают микро и макро масштаба. Проверенный план действий, разработанный специалистами компании, помогает устранить трудности, превращая их в возможности. «Центрофинанс» предлагает несколько вариантов микрозаймов, применимых для конкретной финансовой задачи

				
				br
				br
				div.h2 Фоны
				.bg-white(style="padding: 20px;")
					|По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

				br
				br
				div.h2 Иконки
				.type-icon.type-icon_white
					.type-icon__item
						.type-icon__img
							+svg('ic-hand','ic-hand', '18', '35')
						.type-icon__name ic-hand

					.type-icon__item
						.type-icon__img
							+svg('ic-money','ic-money', '38', '26')
						.type-icon__name ic-money


				.type-icon
					.type-icon__item
						.type-icon__img
							+svg('ic-call','ic-call', '20', '20')
						.type-icon__name ic-call

					.type-icon__item
						.type-icon__img
							+svg('ic-mail','ic-mail', '26', '21')
						.type-icon__name ic-mail

					.type-icon__item
						.type-icon__img
							+svg('ic-address','ic-address', '18', '21')
						.type-icon__name ic-address

					.type-icon__item
						.type-icon__img
							+svg('ic-compass','ic-compass', '30', '30')
						.type-icon__name ic-compass

					.type-icon__item
						.type-icon__img
							+svg('ic-copy','ic-copy', '21', '28')
						.type-icon__name ic-copy

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow','ic-arrow', '37', '14')
						.type-icon__name ic-arrow

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-left','ic-arrow-left', '8', '14')
						.type-icon__name ic-arrow-left

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-right','ic-arrow-right', '8', '14')
						.type-icon__name ic-arrow-right

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-up','ic-arrow-up', '14', '8')
						.type-icon__name ic-arrow-up

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-down','ic-arrow-down', '14', '8')
						.type-icon__name ic-arrow-down

					.type-icon__item
						.type-icon__img
							+svg('ic-prev','ic-prev', '15', '14')
						.type-icon__name ic-prev

					.type-icon__item
						.type-icon__img
							+svg('ic-next','ic-next', '15', '14')
						.type-icon__name ic-next

					.type-icon__item
						.type-icon__img
							+svg('ic-minus','ic-minus', '18', '2')
						.type-icon__name ic-minus

					.type-icon__item
						.type-icon__img
							+svg('ic-plus','ic-plus', '18', '18')
						.type-icon__name ic-plus

					.type-icon__item
						.type-icon__img
							+svg('ic-close','ic-close', '12', '12')
						.type-icon__name ic-close
